*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post{

    border: 2px solid  blue;
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    padding: 30px;
}

#list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
